.menuStyle {
    padding-bottom: 15px;
}

.sectionStyle {
    font-size: 23px;
    padding: 15px;
    border: solid;
    border-width: .5px;
}

.rowStyle {
    display: block;
    padding-top: 15px;
}