
        body {
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          font-size: 28px;
        }

        .bgimg {
            background-image: url("https://www.dropbox.com/s/acu79uw0s8elwzx/crew-aw6UewokOIo-unsplash.jpg?raw=1");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            min-height: 75%;
            height: 500px;
        }

        .title {
            color: white;
            font-size: 20px;
            text-align: center;
            padding-top: 150px;
            padding-bottom: 160px;

        }

        nav {
            background-color: transparent;       
        }

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: transparent;;
          position: -webkit-sticky; /* Safari */
          position: sticky;
          top: 0;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          padding: 10px;  
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover {
          background-color: rgb(109, 104, 104);
        }
        
        .active {
          background-color: rgb(36, 68, 38);
        }

        .coffeeStools {
            background-image: url("https://www.dropbox.com/s/b1kaag377z7tla3/matt-hoffman-7zwyUZVrt-U-unsplash.jpg?raw=1");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            min-height: 75%;
            height: 500px;
        }
