
        body {
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          font-size: 28px;
        }

        .bgimg {
            background-image: url("https://www.dropbox.com/s/2j0limosycxh6zu/crew-aw6UewokOIo-unsplash%20%28edited-Pixlr%29.jpg?raw=1");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            min-height: 75%;
            height: 500px;
        }

        .title {
            color: white;
            font-size: 20px;
            text-align: center;
            padding-top: 130px;
            padding-bottom: 100px;

        }

        .textRight {
            padding-top: 17px;
        }

        .height {
            height: 800px;
            color: black;
            overflow-y: auto;
        }

        header div h1 {
            font-size: 110px;
            margin-top: 40px;
        }

        nav {
            background-color: transparent;       
        }

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: transparent;;
          position: -webkit-sticky; /* Safari */
          position: sticky;
          top: 0;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          padding: 10px;  
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover {
          background-color: rgb(109, 104, 104);
        }
        
        .active {
          background-color: rgb(145, 160, 146);
        }

        #menu{
            background-color: lightgray;
        }

        .coffeeStools {
            background-image: url("https://www.dropbox.com/s/k718dks7b0df2pt/matt-hoffman-7zwyUZVrt-U-unsplash%20%28edited-Pixlr%29.jpg?raw=1");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            min-height: 75%;
            height: 500px;
        }

        /* Footer  */
        footer {
            height: 80px;
            background-color: lightgray;
        }
        footer .glyphicon {
            font-size: 20px;
            margin-bottom: 20px;
            margin-top: 20px;
            color: rgb(36, 68, 38);
        }
